*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: white;
}

/* -------------------------------------------- */

/* HEADER LEFT STYLE --------------------------- */
.header-left{
    background-color: rgb(0, 0, 0);
    height: 80vh; 
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

[alt=logo]{
    width: 50%;
}
[alt=home],[alt=search],
[alt=library],[alt=download],
[alt=profile] {
    width: 15%;
}

.header-left svg{
   background-color: rgb(163, 163, 163);
   width: 10%;     
}



.playlist-content p{
    line-height: 1.8rem;
}

.playlist p{
    line-height: 1.5rem;
 
}


/* ------------------------------------------------------ */

/* PLAYLIST STYLE ------------------------------------- */

.playlist h3{
    color: white;
}


/* MAIN STYLE ------------------------------------------ */

main{
    display: flex;
}

/* ------------------------------------------------------- */

/* MAIN-CONTENT STYLE ---------------------------------------- */
.main-content{
    width: 85%;
}

/* ------------------------------------------------------------ */

/* UPGRADE STYLE ------------------------------------------- */

.upgrade{
    background-color: rgb(8, 11, 18);
    display: flex;
    justify-content: end;
    padding: 1rem;
}

.upgrade p{
    border: solid rgb(224, 224, 225);
    padding: 1.2rem 1rem;
    border-radius: 50px;
}

/* MUSIC CONTENT STYLE ---------------------------------------- */

nav {
    display: flex;
    justify-content: center;
}

.nav-options{
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.music-content{
    border: 3px solid green;
    height: 60vh;
    overflow: scroll;
}


/* ----------------------------------------------------------------- */

/* RECENTLY PLAYED STYLE ----------------------------------------- */

.recently-played {
    margin-left: 1rem;
    margin-right: 1rem;
}

.recently-music{
    display: flex;
    justify-content: space-between;
}

.card{
    border: 2px solid crimson;
    width: calc(85% / 6);
    text-align: center;
}

.card>img{
    width: 100%;
}

/* --------------------------------------------------------------- */

/*  FOR YOU STYLE ------------------------------------------------- */

.for-you{
    margin-left: 1rem;
}

.release-row{
    display: flex;
    gap: 3rem;
}

/* ---------------------------------------------------------------- -*/

/* POPULAR ARTIST STYLE ----------------------------------------------- */
.popular-artist{
    margin-left: 1rem;
    margin-right: 1rem;

}

.artist-row{
    display: flex;
    gap: 3rem;
}

/* -------------------------------------------------------------------- */

/* FOOTER STYLE -------------------------------------------------------- */

footer{
    border: 2px solid pink;
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
}

footer i {
    color: white;
}

.footer-left,.footer-center,.footer-right{
    display: flex;
    padding: 1rem;
}

.footer-left img{
    width: 70%;
}

.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper-center,.bottom-center{
    display: flex;
    justify-content: space-between;
}

.footer-right{
    border: 1px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

}

