*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: white;
}

main{
    background-color: rgb(20, 25, 34);
}

/* -------------------------------------------- */

/* HEADER LEFT STYLE --------------------------- */
.header-left{
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 10vh); 
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-left img{
    vertical-align: middle;
}

[alt=logo]{
    width: 50%;
}
[alt=home],[alt=search],
[alt=library],[alt=download],
[alt=profile] {
    width: 15%;
}

.header-left svg{
   background-color: rgb(163, 163, 163);
   width: 10%;     
}



.playlist-content p{
    line-height: 1.8rem;
}

.playlist p{
    line-height: 1.5rem;
 
}

.playlist svg{
    vertical-align: middle;
}

.playlist h3{
    margin: 1rem 0.5rem 1rem 0;
    width: 25%;
    
}

.user-left img{
    vertical-align: middle;
}
/* ------------------------------------------------------ */

/* PLAYLIST STYLE ------------------------------------- */

.playlist h3{
    color: white;
}


/* MAIN STYLE ------------------------------------------ */

main{
    display: flex;
}

/* ------------------------------------------------------- */

/* MAIN-CONTENT STYLE ---------------------------------------- */
.main-content{
    width: 85%;
}

/* ------------------------------------------------------------ */

/* UPGRADE STYLE ------------------------------------------- */

.upgrade{
    background-color: rgb(8, 11, 18);
    height: 10vh;
    display: flex;
    justify-content: end;

}

.upgrade p{
    border:1px solid rgb(224, 224, 225);
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    border-radius: 50px;
    font-size: 0.8rem;
}

/* MUSIC CONTENT STYLE ---------------------------------------- */

nav {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.nav-options{
    display: flex;
    justify-content: space-between;
    width: 60%;
}


.music-content{
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgb(20, 25, 34);
}


/* ----------------------------------------------------------------- */

/* RECENTLY PLAYED STYLE ----------------------------------------- */

.recently-played {
    margin-left: 1rem;
    margin-right: 1rem;
}

.recently-music{
    display: flex;
    justify-content: space-between;
}

.recently-played h2,.recently-played h3,
.for-you h3,.popular-artist h3,
.for-you h2{
    color: white;
}

.recently-played h2{
    margin-bottom: 0.5rem;
}

.card{
    /* border: 2px solid crimson; */
    width: calc(85% / 6);
    text-align: center;
}

.card>img{
    width: 100%;
}

/* --------------------------------------------------------------- */

/*  FOR YOU STYLE ------------------------------------------------- */

.for-you{
    margin-left: 1rem;
}

.release-row{
    display: flex;
    gap: 3rem;
}

/* ---------------------------------------------------------------- -*/

/* POPULAR ARTIST STYLE ----------------------------------------------- */
.popular-artist{
    margin-left: 1rem;
    margin-right: 1rem;

}

.artist-row{
    display: flex;
    gap: 3rem;
}

/* -------------------------------------------------------------------- */

/* FOOTER STYLE -------------------------------------------------------- */

footer{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
}

footer i,footer h4 {
    color: white;
}

.footer-left,.footer-center,.footer-right{
    display: flex;
    padding: 0.5rem;
}

.footer-left{
    justify-content: center;
    align-items: center;
}
.footer-left img{
    width: 100%;
    height: 100%;
}

.footer-left i{
    margin: 0.3rem;
}

.icon-player{
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-info{
    margin: 0.5rem;
}
.footer-center{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.upper-center,.bottom-center{
    display: flex;
    justify-content: space-between;
}

.footer-right{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-right i{
    margin: 0.5rem;
}


/* ------------------------------------------- -*/

/* MEDIA QUERY --------------------------------- */

@media screen and (max-width: 878px) { 

    .nav-options {
        flex-wrap: wrap;
        width: 70%;
    }

    .nav-options p{
        word-wrap: unset;

    }

    .recently-music{
        border: 1px solid crimson;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 1rem;

    }
    
    .card{
        width: calc(85% / 4 - 1rem);
    }
}


@media screen and (max-width: 639px) {

    .recently-music{
        border: 1px solid yellowgreen;
    }
    .card{
        width: calc(85% / 2 - 1rem);
    } 

    .playlist h3{
        font-size: 0.8rem;

    }
    

    .playlist-content{
        height: 10rem;
        overflow: scroll;
    }

    .icon-player{
        flex-direction: column;
    }
}


@media screen and (max-width: 552px) {
    span { 
    display:none ;
    }
    
    .playlist-content{
        display: none;
    }

    .playlist span:first-of-type,
    .playlist h3,
    .user-left span{
        display: none;
    }

    [alt=logo]{
        width: 100%;
    }

    [alt=home],[alt=search],
    [alt=library],[alt=download],
    [alt=profile] {
    width: 30%;
    }

    .playlist svg{
        width: 30%;
    }

    

}
